---
import { Footer } from '@/partials/Footer';
import { Navbar } from '@/partials/Navbar';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  head: {
    title: string;
    description: string;
    keywords?: string;
    ogImage?:string;
  };
}

const {
  head: { title, description, keywords ,ogImage},
} = Astro.props as Props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='author' content={AppConfig.author} />
    <meta name='keywords' content={keywords} />


    <!-- Open Graph Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:type" content="article" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:description" content={description} />
    <!-- <meta property="og:locale" content="en_GB" /> -->

    <link rel='alternate' type='application/rss+xml' href='/rss.xml' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <!-- Google tag (gtag.js) -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=G-26VNJ700RT'
    >

    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-26VNJ700RT');
    </script>
    <!-- Google tag (gtag.js) -->
  </head>

  <body class='bg-slate-900 text-gray-100'>
    <Navbar />

    <slot></slot>

    <Footer />
  </body>
</html>
